	
	<div id="photos">
		<h3 id="titles">Photos</h3>
		
		<ul id="basicuse" class="thumbs"></ul>

		<div id="more"><a href="http://www.flickr.com/photos/lerion"><span class="plus">+</span><span class="in">&nbsp;on&nbsp;</span><img src="{{site.url}}/images/flickr_logo.gif" alt="" /></a>
		</div>
	</div>

  <div id="videos">
  	<h3 id="titles">Videos</h3>
  		<iframe src="http://player.vimeo.com/video/178496277?title=0&amp;byline=0&amp;color=679AF1&amp;portrait=0" frameborder="0"></iframe>
	
  	<div id="more"><a href="http://www.vimeo.com/lerion/videos"><span class="plus">+</span><span class="in">&nbsp;on&nbsp;</span><img src="{{site.url}}/images/vimeo_logo.png" alt="" /></a>
  	</div>
  </div>
