<div id="media">
	
	<div id="flickr">
		<h3 id="myPhotos">Photos</h3>
		
<img src="https://farm8.staticflickr.com/7399/13887114981_8efd6ea4b2_z.jpg" alt="Lerion Flickr">
		      
		<div class="clear">
		</div>
		<div id="more"><a href="http://www.flickr.com/photos/lerion"><span class="plus">+</span><span class="in">&nbsp;on&nbsp;</span><img src="{{site.url}}/images/flickr_logo.gif" alt="" /></a>
		</div>
	</div>

  <div id="videos">
  	<h3 id="myVideos">Videos</h3>
  	<div id="video">
  		<iframe src="http://player.vimeo.com/video/92330874?title=0&amp;byline=0&amp;color=679AF1&amp;portrait=0" frameborder="0"></iframe>
  	</div>
	
  	<div id="more"><a href="http://www.vimeo.com/lerion/videos"><span class="plus">+</span><span class="in">&nbsp;on&nbsp;</span><img src="{{site.url}}/images/vimeo_logo.png" alt="" /></a>
  	</div>
  </div>

 </div>