<div id="sidebar">
	
	<div id="flickr">
		<h3 id="myPhotos">Photos</h3>
		<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=87792318%40N00">
		</script>        
		<div class="clear">
		</div>
		<div id="more"><a href="http://www.flickr.com/photos/lerion"><span class="plus">+</span><span class="in">&nbsp;on&nbsp;</span><img src="{{site.url}}/images/flickr_logo.gif" alt="" /></a>
		</div>
	</div>

  <div id="videos">
  	<h3 id="myVideos">Videos</h3>
  	<div class="box2" id="video">
  		<iframe src="http://player.vimeo.com/video/92330874?title=0&amp;byline=0&amp;color=679AF1&amp;portrait=0" width="500" height="377" frameborder="0"></iframe>
  	</div>
	
  	<div id="more"><a href="http://www.vimeo.com/lerion/videos"><span class="plus">+</span><span class="in">&nbsp;on&nbsp;</span><img src="{{site.base_url}}/images/vimeo_logo.png" alt="" /></a>
  	</div>
  </div>

 </div>