
<h3 id="Twitter">Twitter</h3>
<div class="box1_twitter">	

<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/joan_teruel/lerion"
data-widget-id="370526817339179008"
data-chrome="nofooter noborders transparent noheader noscrollbar"
width="354" height="200"
data-tweet-limit="3">
</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
  if(!d.getElementById(id)){js=d.createElement(s);
  js.id=id;
  js.src=p+"://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js,fjs);
  }}(document,"script","twitter-wjs");
</script>



</div>
<div id="more"><a href="http://twitter.com/#!/joan_teruel/lerion"><span class="plus">+</span><span class="in">&nbsp;on&nbsp;</span><img src="{{site.url}}/images/twitter.png" alt="" /></a>
</div>
