<!DOCTYPE html>

<html>
    <head>

		{% include header.html %}

    </head>
<body>
	<div id="wrap">
		
		{% include logo.html %}

	<div id="content">
		
		{% include media.html %}
		
			<div id="posts">			
			
				<h3 id="titles">Blog</h3>

	 		   {{ content }}

			   <div id="more"><a href="{{site.url}}/archive.html"><span class="plus">+</span><span class="in">&nbsp;on&nbsp;Archive</span></a>
			   </div>
		   
		   </div>
	
	</div>
	<p><br /><br /></p>
		{% include footer.html %}	
	
	</div>

</body>
</html>
